@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<br />&nbsp;<br />
The Transhuman National Committee of the United States is a PAC focused on Transhumanism in politics in the 
United States with a long term goal of creating a political party. It is not affiliated with any other 
political organization in the United States. The intent is to create the governing body of the Transhuman 
in politics in the United States. Help us work together and get people engaged and excited about creating the TNC.

<br />&nbsp;<br />

<b>Our preamble:</b>

<br />&nbsp;<br />

We, the Transhumanist National Committee of the United States of America, united in common purpose, hereby 
rededicate ourselves to the principles which have historically sustained our ideology embodied in the 
transhumanist declaration.

Recognizing that the vitality of the Nation's political institutions has been the foundation of its enduring 
strength, however we believe that for the future of our nation, humanity and the world is dependent on careful 
consideration based on future looking ideology as embodied in the transhumanist declaration.

We acknowledge that creating a political party at a national level is not yet tenable and that we are hereby 
creating a PAC or Political Action Committee with a future vision of driving transhuman ideology in politics 
and to one day create a political party and here by does not recognize any other organization in terms of 
leading transhuman politics in the United States and that such leadership must be democratic listing to those 
to which we would hope to lead where we create an organization which asks for the people's trust must prove 
that it trusts the people and a party which hopes to call forth the best the Nation can achieve must embody 
the best of the Nation's heritage and traditions.


<br />&nbsp;<br />

What we seek for our Nation, we hope for all people: individual freedom in the framework of a just society, 
political freedom in the framework of meaningful participation by all citizens.Bound by the United States 
Constitution, and the transhumanist declaration aware that an organization must be responsive to be worthy of 
responsibility, we pledge ourselves to.open, honest endeavor and to the conduct of public affairs in a manner 
worthy of a society of free people for these ends and upon these principles, we do establish and adopt this 
Charter of the Transhumanist National Committee of the United States of America.

<br />&nbsp;<br />

With its initial formation, an interim Board of Directors/Officers has been elected by the members.

<br />&nbsp;<br />

You can contact us the following ways: 

<br />&nbsp;<br />
<address>
    Transhuman National Committee<br />
    Atten: David J Kelley<br />
    10605 SE 240th Street; #210<br />
    Kent, WA 98031<br />
    <abbr title="Phone">P:</abbr>
    206.653.5143
</address>

<address>
    <strong>On Facebook:</strong>   <a href='https://www.facebook.com/groups/TNCTP/' target='_blank'>On Facebook</a><br />
    <strong>Email:</strong> <a href='mailto:admin@transhumanity.net?Subject=TNCMemberPortal' target='_blank'>via email at admin@transhumanity.net</a><br />
    <strongh>www:</strongh> <a href='http://www.TranshumanPolitics.com/' target='_blank'>www.TranshumanPolitics.com</a><br />
    <strongh>Public Document Archive:</strongh> <a href='http://wiki.TranshumanPolitics.com/' target='_blank'>wiki.TranshumanPolitics.com</a><br />
</address>

