@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_PageOnlyLayout.cshtml";

    if (!(Request.IsAuthenticated))
    {
        Response.Redirect("/Account/Login");
    }
}
<h2>Welcome back to the TNC</h2>

<h4>As a member you will be able to vote and help the TNC develop policies, platform and agenda items and particupate in the TNC organization.  Look for email from the TNC and in the mean time check us out here and get involved: </h4>

<br />&nbsp;<br />

<table border="0">
    <tr>
        <td valign="top">
            <address>
                <strong>On Facebook:</strong>   <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href='https://www.facebook.com/groups/TNCTP/' target='_blank'>On Facebook</a><br />&nbsp;<br />
                <strong>Email:</strong> <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href='mailto:admin@TranshumanPolitics.com?Subject=TNCMemberPortal' target='_blank'>admin@TranshumanPolitics.com</a><br />&nbsp;<br />
                <strong>Our Website:</strong> <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href='http://www.TranshumanPolitics.com/' target='_blank'>www.TranshumanPolitics.com</a><br />&nbsp;<br />
                <strong>Public Document Archive:</strong> <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href='http://wiki.TranshumanPolitics.com/' target='_blank'>wiki.TranshumanPolitics.com</a><br />&nbsp;<br />
            </address>
        </td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td valign="top"><iframe width="420" height="315" src="https://www.youtube.com/embed/F5uqZGA06vE" frameborder="0" allowfullscreen></iframe></tdvalign="top">
    </tr>
</table>
