@model TNCVote.Models.RegisterViewModel
@{
    ViewBag.Title = "TNC Member Portal Legal Notices";
    Layout = "~/Views/Shared/_PageOnlyLayout.cshtml";
}
<h2>Privacy Policy</h2>

<b>Regarding Information that is gathered from visitors</b>

<p>In common with other web sites, log files, user information and the like unless explicitly stated and approved by the user are NOT stored or cached or collected in any way including details such as the visitor's IP address, browser type, referring page and time of visit. As a rule the TNC uses and stores information only on the users system or in the users roaming profile provided by the device or account and not accessible to us in any way. Users data belongs to the user and not ours and therefore not collected. Since the TNC is strongly against the miss use of information like this we do my best to protect users of TNC properties the same way we would want our own information protected.</p>

<b>How the Information is used</b>

<p>
    User information is used by the website only in the context of the website and not shared by the system in any way. Whiles users may choice to share content, a user would have to specifically do that with intent and not done automatically for users and generally that is still regarding the sharing of application data and not anything specific to the user that can be shared.
</p>

<p>
    E-mail addresses will not every be sold, rented, leased or viewable to 3rd parties or anyone else by the TNC and as a rule our websites don't collect this information unless being very explicit in that collection.
</p>

<p>Third party authentication that maybe used on TNC sites such as id account information or Facebook login information is not stored or used on TNC properties other then the user name for data interchange between our system's and related systems or third parties that are providing services to the TNC.</p>

<a href="http://wiki.transhumanpolitics.com/index.php?title=Transhuman_National_Committee:Privacy_policy">Official Privacy Policy Document</a>

<br />&nbsp;<br />

<b>TERMS OF SERVICE</b>

<p>PLEASE READ THESE TERMS AND CONDITIONS OF USE CAREFULLY. BY ACCESSING OR USING THIS WEB SITE, YOU AGREE TO BE BOUND BY THE TERMS AND CONDITIONS DESCRIBED HEREIN AND ALL TERMS INCORPORATED BY REFERENCE. IF YOU DO NOT AGREE TO ALL OF THESE TERMS, DO NOT USE THIS WEB SITE.
</p><p>
This website is operated by the Transhuman National Committee (the "TNC", "we" or "us"). These terms and conditions of use ("Site Terms") apply solely to your access to, and use of, the Web sites (the "Sites") operated by the TNC which link to these Site Terms. . These Site Terms do not alter in any way the terms or conditions of any other agreement you may have with the TNC for products, services or otherwise.
</p>

<p>
We reserve the right to change or modify any of the terms and conditions contained in the Site Terms or any policy or guideline of the Sites, at any time and in our sole discretion. Any changes or modification will be effective immediately upon posting of the revisions on the Sites, and you waive any right you may have to receive specific notice of such changes or modifications. Your continued use of these Sites following the posting of changes or modifications will confirm your acceptance of such changes or modifications. Therefore, you should frequently review the Site Terms and applicable policies from time-to-time to understand the terms and conditions that apply to your use of the Sites. If you do not agree to the amended terms, you must stop using the Sites.
</p>

<p>
    If you have any question regarding the use of the Sites, please refer first to the Help Section or the Frequently Asked Questions on each site. All other questions or comments about the Sites or site content should be directed to admin@transhumanpolitics.com
</p>
    <b>Mobile Communications</b>
<p>
    If you request to receive updates or other information by mobile phone or text message, you consent to our communicating with you via your mobile device. We do not charge for these services. However, your carrier's normal messaging, data and other rates and fees will still apply. You should check with your carrier to find out what plans are available and how much they cost. At any time, you may text STOP to cancel or HELP for customer support information.
</p>
<b>Copyright and Limited License</b>
<p>
    Unless otherwise indicated in the Sites, the Sites and all content and other materials on the Sites, including, without limitation, the TNC’s logo, and all designs, text, graphics, pictures, information, data, software, tools, widgets, sound files, other files and the selection and arrangement thereof (collectively, the "Site Materials") are the proprietary property of the TNC or its licensors or users and are protected by U.S. and international copyright laws.
</p>

<p>
    You are granted a limited, non-sublicensable license to access and use the Sites and the Site Materials for your informational, non-commercial and personal use only. Such license is subject to these Site Terms and does not include: (a) any resale or commercial use of the Sites or the Site Materials therein; (b) the reproduction, distribution, public performance or public display of any Site Materials, except as expressly permitted on the Site; (c) modifying or otherwise making any derivative uses of the Sites and the Site Materials, or any portion thereof; (d) use of any data mining, robots or similar data gathering or extraction methods; (e) downloading (other than the page caching) of any portion of the Sites, the Site Materials or any information contained therein, except as expressly permitted on the Sites; or (f) any use of the Sites or the Site Materials other than for its intended purpose. Any use of the Sites or the Site Materials other than as specifically authorized herein, without the prior written permission of the TNC, is strictly prohibited and will terminate the license granted herein. Such unauthorized use may also violate applicable laws including without limitation copyright and trademark laws and applicable communications regulations and statutes. Unless explicitly stated herein, nothing in these Site Terms shall be construed as conferring any license to intellectual property rights, whether by estoppel, implication or otherwise. This license is revocable at any time.
</p>
    <b>Repeat Infringer Policy</b>
<p>
    In accordance with the Digital Millennium Copyright Act ("DMCA") and other applicable law, the TNC has adopted a policy of terminating, in appropriate circumstances as determined by the TNC in its sole discretion, subscribers or account holders who are deemed to be repeat infringers. The TNC may also at its sole discretion limit access to the Sites and/or terminate the accounts of any users who infringe any intellectual property rights of others, whether or not there is any repeat infringement.
</p>
    <b>Trademarks</b>
<p>
    All logos and slogans contained in the Sites are trademarks of the TNC, its suppliers or licensors, or other third parties and may not be copied, imitated or used, in whole or in part, without the prior written permission of the TNC or the applicable trademark holder. You may not use any metatags or any other "hidden text" utilizing "TNC" or any other name, trademark or product or service name of the TNC without our prior written permission. In addition, the look and feel of the Site, including all page headers, custom graphics, button icons and scripts, is the service mark, trademark and/or trade dress of the TNC and may not be copied, imitated or used, in whole or in part, without our prior written permission. All other trademarks, registered trademarks, product names and company names or logos mentioned in the Sites are the property of their respective owners. Reference to any products, services, processes or other information, by trade name, trademark, manufacturer, supplier or otherwise does not constitute or imply endorsement, sponsorship or recommendation thereof by us. Third Party Content
</p>

<p>
We may make third party information and other content available on or through the Sites (the "Third Party Content") as a service to those interested in this information and we may provide information regarding or access to third party products or services available on or through the Sites (“Third Party Products and Services”). Your business dealings or correspondence with such third parties, and any terms, conditions, warranties or representations associated therewith, are solely between you and such third party. The TNC does not control, endorse or adopt any Third Party Content or Third Party Products, and makes no representation or warranties of any kind regarding the Third Party Content, including without limitation regarding its accuracy or completeness. You acknowledge and agree that the TNC is not responsible or liable in any manner for any Third Party Content and undertakes no responsibility to update or review any Third Party Content. Users use such Third Party Content contained therein at their own risk. Advertisements and Promotions; Third-Party Products and Services
</p>

<p>
    Company may run advertisements and promotions from third parties on the Site or may otherwise provide information about or links to third-party organizations, products or services on the Site. Your dealings or correspondence with, or participation in promotions of, such third parties, and any terms, conditions, warranties or representations associated with such dealings or promotions, are solely between you and such third party. Company is not responsible or liable for any loss or damage of any sort incurred as the result of any such dealings or promotions or as the result of the presence of such non-Company advertisers or third party information on the Site.
</p>
    <b>Submissions</b>
<p>
    You acknowledge and agree that any feedback, questions, comments, suggestions, ideas, or other information or materials regarding the Site or the TNC that are] provided by you in the form of email or other submissions to the TNC, or any postings on the Sites, are non-confidential and shall become the sole property of the TNC. The TNC shall own exclusive rights, including all intellectual property rights, and shall be entitled to the unrestricted use and dissemination of these materials for any purpose without acknowledgment or compensation to you.
</p>
<b>User Content and Interactive Services or Areas</b>
<p>
    The Sites may include interactive areas or services (“Interactive Areas”), such as forums, blogs, chat rooms or message boards, or other areas or services in which you or other users may create, post, share or store content, messages, materials, data, information, text, graphics, audio, video, or other items or materials on the Sites ("User Content"). You are solely responsible for your use of such Interactive Areas and use them at your own risk. By using any Interactive Areas, you agree not to post, upload to, transmit, distribute, store, create or otherwise publish through the Sites any of the following:
</p>

<p>
User Content that is unlawful, libelous, defamatory, obscene, pornographic, indecent, lewd, suggestive, harassing, threatening, invasive of privacy or publicity rights, abusive, inflammatory, fraudulent, deceptive or misleading;
</p>

<p>
User Content that would constitute, encourage or provide instructions for a criminal offense, violate the rights of any party, or that would otherwise create liability or violate any local, state, national or international law.
</p>

<p>
User Content that may infringe any patent, trademark, trade secret, copyright or other intellectual or proprietary right of any party.
</p>

<p>
User Content that impersonates any person or entity or otherwise misrepresents your affiliation with a person or entity; Unsolicited promotions, political campaigning, advertising or solicitations;
</p>

<p>
    Private information of any third party, including, without limitation, addresses, phone numbers, email addresses, Social Security numbers and credit card numbers;
</p>

<p>
    Viruses, corrupted data or other harmful, disruptive or destructive files; and
</p>

<p>
    User Content which violates the terms of any TNC guidelines, policies or rules posted on the Site or otherwise provided to you;
</p>

<p>
    and
</p>

<p>
    User Content that, in the sole judgment of the TNC, is objectionable or which restricts or inhibits any other person from using or enjoying the Interactive Areas or the Sites, or which may expose the TNC or its users to any harm or liability of any type. The TNC takes no responsibility and assumes no liability for any User Content posted, stored or uploaded by you or any third party, or for any loss or damage thereto, nor is the TNC liable for any mistakes, defamation, slander, libel, omissions, falsehoods, obscenity, pornography or profanity you may encounter. Your use of Interactive Areas is at your own risk. Enforcement of the user content or conduct rules set forth in these Site Terms is solely at the TNC’s discretion, and failure to enforce such rules in some instances does not constitute a waiver of our right to enforce such rules in other instances. In addition, these rules do not create any private right of action on the part of any third party or any reasonable expectation that the Sites will not contain any content that is prohibited by such rules. As a provider of interactive services, the TNC is not liable for any statements, representations or User Content provided by its users in any public forum, blog or other Interactive Area. Although the TNC has no obligation to do so, it reserves the right, and has absolute discretion, to remove, screen or edit any User Content posted or stored on the Sites at any time and for any reason without notice, and you are solely responsible for creating backup copies of and replacing any User Content you post or store on the Sites at your sole cost and expense. Any use of the Interactive Areas or other portions of the Sites in violation of the foregoing violates these Site Terms and may result in, among other things, termination or suspension of your rights to use the Interactive Areas and/or the Sites.
</p>

<p>
    Except as otherwise provided, you retain ownership of all User Content you post on the Sites. However, if you post User Content to the Sites, unless we indicate otherwise, you grant the TNC and its affiliates a nonexclusive, royalty-free, perpetual, irrevocable and fully sublicensable right to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, perform and display such User Content throughout the world in any manner or media, including without limitation in advertising, fundraising and other communications in support of the TNC and the principles of the Democratic party, without any right of compensation or attribution . You grant the TNC and its affiliates and sublicensees the right to use the name that you submit in connection with such content, if they choose. You represent and warrant that (a) you own and control all of the rights to the User Content that you post or you otherwise have the right to post such User Content to the Sites; (b) the User Content is accurate and not misleading; and (c) use and posting of the User Content you supply does not violate these Site Terms and will not violate any rights of or cause injury to any person or entity.
</p>
    <b>Registration Data; Account Security</b>
<p>
    In consideration of your use of the Sites, you agree to (a) provide accurate, current and complete information about you as may be prompted by any registration forms on the Sites ("Registration Data"); (b) maintain the security of your password and identification; (c) maintain and promptly update the Registration Data, and any other information you provide to the TNC, to keep it accurate, current and complete; and (d) accept all risks of unauthorized access to the Registration Data and any other information you provide to the TNC.
</p>
    <b>Indemnification</b>
<p>
    You agree to defend, indemnify and hold harmless the TNC, its independent contractors, service providers and consultants, and their respective directors, employees and agents, from and against any claims, damages, costs, liabilities and expenses (including, but not limited to, reasonable attorneys' fees) arising out of or related to any User Content you post, store or otherwise transmit on or through the Sites, your use of the Interactive Areas, or any act or omission relating to the Site or the User Content, including without limitation any actual or threatened suit, demand or claim made against the TNC and/or its independent contractors, service providers, employees, directors or consultants, arising out of or relating to the User Content, your conduct, your violation of these Site Terms or your violation of the rights of any third party.
</p>
    <b>Disclaimer</b>
<p>
    EXCEPT AS EXPRESSLY PROVIDED TO THE CONTRARY IN A WRITING BY THE TNC, THE SITES, THE SITE MATERIALS CONTAINED THEREIN AND THE SERVICES PROVIDED ON OR IN CONNECTION THEREWITH (THE "SERVICES") ARE PROVIDED ON AN "AS IS" BASIS WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED. THE TNC DISCLAIMS ALL OTHER WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT AND AS TO ACCURACY OR RELIABILITY OF THE INFORMATION, CONTENT, FORMS OR OTHER SITE MATERIALS ACCESSED THROUGH THE SITE. THE TNC DOES NOT REPRESENT OR WARRANT THAT THE SITES, THE SITE MATERIALS OR THE SERVICES ARE ACCURATE, COMPLETE, RELIABLE, CURRENT OR ERROR-FREE.
</p>

<p>
    THE TNC IS NOT RESPONSIBLE FOR TYPOGRAPHICAL ERRORS OR OMISSIONS, INCLUDING THOSE RELATING TO PRICING, TEXT OR PHOTOGRAPHY. WHILE THE TNC ATTEMPTS TO MAKE YOUR ACCESS AND USE OF THE SITES AND SERVICES SAFE, THE TNC CANNOT AND DOES NOT REPRESENT OR WARRANT THAT THE SITES, THE SITE MATERIALS OR THE SERVER(S) ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS; THEREFORE, YOU SHOULD USE INDUSTRY-RECOGNIZED SOFTWARE TO DETECT AND DISINFECT VIRUSES FROM ANY DOWNLOAD.
</p>

<p>
    THE TNC IS ALSO NOT RESPONSIBLE OR LIABLE IN ANY MANNER FOR ANY THIRD PARTY ACTIVITIES OR EVENTS LISTED ON THE SITES OR FOR THE CONDUCT OF ANY EVENT OR ACTIVITY ORGANIZERS OF OTHER USERS OF THE SITES.
</p>

<p>
    LISTED PRICES FOR MERCHANDISE INCLUDE APPLICABLE SALES/USE TAX.
</p>

<p>
    The TNC reserves the right to change any and all content contained in the Sites and any Services offered through the Sites at any time without notice. Reference to any products, services, processes or other information, by trade name, trademark, manufacturer, supplier or otherwise does not constitute or imply endorsement, sponsorship or recommendation thereof, or any affiliation therewith, by Company.
</p>
    <b>Limitation of Liability</b>
<p>
    IN NO EVENT SHALL THE TNC OR OUR EMPLOYEES, AGENTS OR VOLUNTEERS BE LIABLE FOR ANY DIRECT, SPECIAL, INDIRECT OR CONSEQUENTIAL DAMAGES, OR ANY OTHER DAMAGES OF ANY KIND, INCLUDING BUT NOT LIMITED TO LOSS OF USE, LOSS OF PROFITS OR LOSS OF DATA, WHETHER IN AN ACTION IN CONTRACT, TORT (INCLUDING BUT NOT LIMITED TO NEGLIGENCE) OR OTHERWISE, ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE USE OF OR INABILITY TO USE THE SITES, THE SERVICES, THE CONTENT OR THE SITE MATERIALS CONTAINED IN OR ACCESSED THROUGH THE SITE, INCLUDING WITHOUT LIMITATION ANY DAMAGES CAUSED BY OR RESULTING FROM RELIANCE BY USER ON ANY INFORMATION OBTAINED FROM THE TNC, OR THAT RESULT FROM MISTAKES, OMISSIONS, INTERRUPTIONS, DELETION OF FILES OR EMAIL, ERRORS, DEFECTS, VIRUSES, DELAYS IN OPERATION OR TRANSMISSION OR ANY FAILURE OF PERFORMANCE, WHETHER OR NOT RESULTING FROM ACTS OF GOD, COMMUNICATIONS FAILURE, THEFT, DESTRUCTION OR UNAUTHORIZED ACCESS TO THE TNC'S RECORDS, PROGRAMS OR SERVICES. IN NO EVENT SHALL THE AGGREGATE LIABILITY OF THE TNC, WHETHER IN CONTRACT, WARRANTY, TORT (INCLUDING NEGLIGENCE, WHETHER ACTIVE, PASSIVE OR IMPUTED), PRODUCT LIABILITY, STRICT LIABILITY OR OTHER THEORY, ARISING OUT OF OR RELATING TO THE USE OF OR INABILITY TO USE THE SITES OR THE SITE MATERIALS EXCEED ANY COMPENSATION YOU PAY, IF ANY, TO THE TNC FOR ACCESS TO OR USE OF THE SITES.
</p>

<p>
    CERTAIN STATE LAWS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION OF LIMITATION OF CERTAIN DAMAGES. THEREFORE, SOME OR ALL OF THE ABOVE DISCLAIMERS, EXCLUSIONS, OR LIMITATIONS MAY NOT APPLY TO YOU, AND YOU MIGHT HAVE ADDITIONAL RIGHTS.
</p>
    <b>Applicable Law and Venue</b>
<p>
    These Site Terms and your use of the Site shall be governed by and construed in accordance with the laws of the Washington State applicable to agreements made and to be entirely performed within the Washington State, without resort to its conflict of law provisions. You agree that any action at law or in equity arising out of or relating to these Site Terms shall be filed only in the state and federal courts located in Washington State and you hereby irrevocably and unconditionally consent and submit to the exclusive jurisdiction of such courts over any suit, action or proceeding arising out of these Site Terms.
</p>
    <b>Termination</b>
<p>
    Notwithstanding any of these Site Terms, the TNC reserves the right, without notice and in its sole discretion, to terminate your license to use the Sites, and to block or prevent future your access to and use of the Sites.
</p>
    <b>Severability</b>
<p>
    If any provision of these Site Terms shall be deemed unlawful, void or for any reason unenforceable, then that provision shall be deemed severable from these Site Terms and shall not affect the validity and enforceability of any remaining provisions.
</p>
<p>
    official Terms of Service Master Copy: <a href="http://wiki.transhumanpolitics.com/index.php?title=Terms_of_Service">Terms of Service</a>
</p>