@model TNCVote.Models.RegisterViewModel
@{
    ViewBag.Title = "TNC Member Portal Legal Notices";
    Layout = "~/Views/Shared/_PageOnlyLayout.cshtml";
}
<h2>Privacy Policy</h2>

<b>Regarding Information that is gathered from visitors</b>

<p>In common with other web sites, log files, user information and the like unless explicitly stated and approved by the user are NOT stored or cached or collected in any way including details such as the visitor's IP address, browser type, referring page and time of visit. As a rule the TNC uses and stores information only on the users system or in the users roaming profile provided by the device or account and not accessible to us in any way. Users data belongs to the user and not ours and therefore not collected. Since the TNC is strongly against the miss use of information like this we do my best to protect users of TNC properties the same way we would want our own information protected.</p>

<b>How the Information is used</b>

<p>
    User information is used by the website only in the context of the website and not shared by the system in any way. Whiles users may choice to share content, a user would have to specifically do that with intent and not done automatically for users and generally that is still regarding the sharing of application data and not anything specific to the user that can be shared.
</p>

<p>
    E-mail addresses will not every be sold, rented, leased or viewable to 3rd parties or anyone else by the TNC and as a rule our websites don't collect this information unless being very explicit in that collection.
</p>

<p>Third party authentication that maybe used on TNC sites such as id account information or Facebook login information is not stored or used on TNC properties other then the user name for data interchange between our system's and related systems or third parties that are providing services to the TNC.</p>

<a href="http://wiki.transhumanpolitics.com/index.php?title=Transhuman_National_Committee:Privacy_policy">Official Privacy Policy Document</a>

