@model TNCVote.Models.RegisterViewModel
@{
    ViewBag.Title = "Thank you for joining the TNC";
    Layout = "~/Views/Shared/_PageOnlyLayout.cshtml";
}
<h2>Thank you for joining the TNC</h2>

<h4>As a member you will be able to vote and help the TNC develop policies, platform and agenda items and particupate in the TNC organization.  Look for email from the TNC and in the mean time check us out here and get involved: </h4>

<br />&nbsp;<br />

<address>
    <strong>On Facebook:</strong>   <a href='https://www.facebook.com/groups/TNCTP/' target='_blank'>On Facebook</a><br />
    <strong>Email:</strong> <a href='mailto:admin@transhumanity.net?Subject=TNCMemberPortal' target='_blank'>via email at admin@transhumanity.net</a><br />
    <strongh>www:</strongh> <a href='http://www.TranshumanPolitics.com/' target='_blank'>www.TranshumanPolitics.com</a><br />
    <strongh>Public Document Archive:</strongh> <a href='http://wiki.TranshumanPolitics.com/' target='_blank'>wiki.TranshumanPolitics.com</a><br />
</address>


